<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/home/teja/Downloads/Automation/Selenium/src/test/java/tests/testNG.java"><classes><class name="tests.testNG"><methods><include name="openApp"/><include name="testLogo"/><include name="login"/><include name="logOut"/></methods></class></classes></test></suite>